{% extends "layout.html" %} {% block body %}

<section class="features-icons bg-light text-center" style="background: #FF512F;fallback for old browsers */background: -webkit-linear-gradient(to right, #F09819, #FF512F);background: linear-gradient(to right, #F09819, #e77221);">
  <div class="row" style="width: 100%;">
    <div class="col" style="height: 100%;">
      <div class="row">
        <div class="col-lg-12 col-xl-9 mx-auto" style="align-items: left;align-content: left;"><i class="fa fa-camera" style="width: 40px;height: 40px;font-size: 43px;float: left;margin-right: 30px;color: rgba(255,255,255,0.58);"></i>
          <h1 class="mb-5" style="text-align: left;font-family: 'Open Sans', sans-serif;font-size: 32px;color: white;">Upload a picture of an apartment you like.</h1>
          <a href="/upload-image">
            <button class="btn btn-primary" type="button" style="width: 200px;float: left;position: relative;top: -20px;font-weight: normal;border-width: 0;font-family: 'Open Sans', sans-serif;font-size: 15px;color: #ffffff;background: #141E30;background: -webkit-linear-gradient(to right, #243B55, #141E30);background: linear-gradient(to right, #243B55, #141E30);
                        margin-left: 70px;">Choose a picture</button>
        </div>
      </div>
    </div>
    <div class="col" style="height: 100%;">
      <div class="row">
        <div class="col-lg-12 col-xl-9 mx-auto" style="align-items: left;align-content: left;"><i class="fa fa-search" style="width: 40px;height: 40px;font-size: 42px;float: left;margin-right: 30px;color: rgba(255,255,255,0.58);"></i>
          <h1 class="mb-5" style="text-align: left;font-family: 'Open Sans', sans-serif;font-size: 32px;color: white;">See listings and recommendations.</h1>
          <a href="/view-properties">
            <button class="btn btn-primary" type="button" style="width: 200px;float: left;position: relative;top: -20px;font-weight: normal;border-width: 0;font-family: 'Open Sans', sans-serif;font-size: 15px;color: #ffffff;background: #141E30;background: -webkit-linear-gradient(to right, #243B55, #141E30);background: linear-gradient(to right, #243B55, #141E30);
                        margin-left: 70px;">Begin Your Search</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="showcase"></section>

{% endblock %}
