{% extends "layout.html" %}


{% block body %}
  <!-- This landing page is built on a modified version of a Bootstrap template: https://getbootstrap.com/docs/4.1/examples/cover/ -->


  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <img src="../static/img/aptlogo.png" class="img-responsive apt-logo" alt="Responsive image">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <!-- Insert link to the search / apartment detail page that Nicolas developed here -->
            <a class="nav-link" href="#">Search</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <img src="../static/img/burke&union.jpg" class="img-responsive building-image" alt="Responsive image">
        <div class="container">
          <!-- <h1 class="cover-heading">Apt</h1>
          <img src="../static/img/burke&union.jpg"> -->
          <br>
          <p class="lead"><strong>Apt</strong> <em>(comparative apter or more apt, superlative aptest or most apt)</em></p>
      	  <p><strong>1. Suitable; appropriate; fit or fitted; suited</strong></p>
      	  <p><strong>2. Habitually liable or likely; disposed towards</strong></p>
      	  <p class="dic-highlight"><strong>3. Web app to find the apartment of your dreams</strong></p>
      </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p class="text-secondary team-names"><strong>Final project for Harvard CSCI S14A by David, Nicolas & Cynthia</strong></p>
        </div>
      </footer>
    </div>
  </body>

{% endblock %}
