{% extends "layout.html" %} {% block body %}
<header class="masthead text-white text-center" style="background: url('static/img/burke&union.jpg?h=902cbd25ef30f3167b3139adcf2abd22')no-repeat center center;background-size: cover;height: 400px;background-image: url({{property.photo_url}});">
	<div class="overlay" style="width: 100%;height: 400px;background-color: #000000;opacity: 0.45;"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-xl-9 mx-auto" style="align-items: left;align-content: left;">
				<h1 class="mb-5" style="text-align: left;font-family: 'Open Sans', sans-serif;font-size: 42px;">{{ property.style }} </h1>
				<h1 class="mb-5" style="text-align: left;font-family: 'Open Sans', sans-serif;font-size: 24px;margin-top: -40px;color: #dddddd;font-weight: normal;">{{property.address}}, {{property.city}}, {{property.state}} {{property.zip}}</h1>
			</div>
		</div>
	</div>
</header>
<section class="features-icons bg-light text-center" style="height: 860px;">
	<div class="container" style="width: 95%;">
		<div class="row" style="width: 100%;margin-top: -70px;">
			<div class="col" style="height: 50px;padding-left: 0px;margin-left: 20px;font-weight: bold;font-style: normal;">
				<h1 class="mb-5" style="text-align: left;font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 24px;color: #0a243e;">Details of {{property.style}}</h1>
			</div>
		</div>
	</div>
	<div class="container" style="width: 100%;">
		<div class="row" style="width: 100%;">
			<div class="col">
				<h6 style="margin-left: 5px; text-align: left;margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: medium; color: #e77221;">List Price: ${{ property.list_price }}</h6>
				</br>
				<p style="text-align: justify; margin-left: 5px;margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-size: 16px;color: #7d8285;"> {{property.remarks}}</p>
			</div>
			</br>
		</div>
		<div class="row" style="width: 100%;">
			<div class="col">
				</br>
				<p style="text-align: left; margin-left: -39px;margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-size: 16px;color: #0a253e; font-weight: medium;"><i class="la la-bed" style="padding: 2%;color: #e77221; font-weight: medium;"></i>&#128719; {{ property.beds }} Bedrooms</p>
				<p style="font-size: 2px;"></p>
				<p style="text-align: left; margin-left: -39px;margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-size: 16px;color: #0a253e; font-weight: medium;"><i class="la la-birthday-cake" style="padding: 2%;color: #e77221;"></i>&#128705; {{ property.baths }} Baths</p>
				<p style="font-size: 2px;"></p>
				<p style="text-align: left; margin-left: -39px;margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-size: 16px;color: #0a253e; font-weight: medium;"><i class="la la-bitbucket" style="padding: 2%;color: #e77221;"></i>&#127969; {{ property.sqft }} Square Feet</p>
			</div>
		</div>
	</div>
	<div class="container" style="width: 95%;margin-top: 40px;">
		<!-- Start: Intro -->
		<div class="intro">
			<p class="text-center"></p>
		</div>
		<!-- End: Intro -->


<br>
		<!-- Start: Photos -->
		<h1 class="mb-5" style=" margin-left: 5px;text-align: left;font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 24px;color: #0a243e;">Similar Properties</h1>
		<div class="row photos" style="margin-left: -17px; margin-top: -35px;">

{% for result in final_product %}


<div class="col-md-6 d-lg-flex justify-content-lg-start align-items-lg-start" style="padding: 2%;">
	<div class="card d-lg-flex" style="background-color: rgba(255,255,255,0);/*top: -12pc;*/">
		<div class="card-body" style="width: 100%px;background-color: #ffffff;height: 100%;-webkit-box-shadow: 0px 5px 16px 3px rgba(43,43,43,0.23);box-shadow: 0px 5px 16px 3px rgba(43,43,43,0.23);border-radius: 2%;padding: 0;"><img src="{{ result.photo_url }}" style="width: 100%; margin 0%; border-radius: 3% 3% 0% 0%;">
			<h4 class="card-title" style="font-weight: black;color: #0a253e;padding: 2%;margin: 0;margin-bottom: 0;text-align: left;font-family: 'Open Sans', sans-serif;margin-left: 5px;">{{ result.style }} at {{result.address}}</h4>
			<h6 class="" style="text-align: left;padding: 2%;margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;margin-left: 5px; color: #e77221;">List Price: ${{ result.list_price }}</h6>
			<h6 style="font-size: 10px; color: #Ffffff;">...</h6>
			<p class="card-text" style="padding: 2%;text-align: left;margin-left: -1px;margin-bottom: 0;margin-top: -3%;font-family: 'Open Sans', sans-serif;font-size: 16px;color: #7d8285;"><i class="la la-bed" style="padding: 2%;color: #e77221;"></i> &#128705; {{ result.baths }} Baths</p>
			<p class="card-text" style="padding: 2%;text-align: left;margin-left: -1px;margin-bottom: 0;font-family: 'Open Sans', sans-serif;color: #7d8285;"><i class="la la-bed" style="padding: 2%;color: #e77221;"></i> &#128719; {{ result.beds }} Bedrooms</p>
			<p class="card-text" style="padding: 2%;text-align: left;margin-left: -1px;margin-bottom: 4%;font-family: 'Open Sans', sans-serif;color: #7d8285;"><i class="la la-birthday-cake" style="padding: 2%;color: #e77221;"></i> &#127969; {{ result.sqft }} Square Feet</p>
			<a href="{{ url_for('property_detail', cid=result.cid) }}"> <button class="btn btn-primary" type="button" style="margin-bottom: 5%;width: 90%;font-weight: normal;border-width: 0;background: #FF512F;fallback for old browsers */background: -webkit-linear-gradient(to right, #F09819, #FF512F);background: linear-gradient(to right, #F09819, #e77221);font-family: 'Open Sans', sans-serif;font-size: 15px;margin-right: 5%;margin-left: 5%;">See Details</button></div>
		</a>
	</div>
</div>

{% endfor %}

			<!-- End: Photos -->
		</div>

		</br>
</section> {% endblock %}
