{% extends "layout.html" %} {% block body %}
<header class="masthead text-white text-center" style="background: url('static/img/burke&union.jpg?h=902cbd25ef30f3167b3139adcf2abd22')no-repeat center center;background-size: cover;height: 400px;background-image: url({{property.photo_url}});">
	<div class="overlay" style="width: 100%;height: 400px;background-color: #000000;opacity: 0.45;"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-xl-9 mx-auto" style="align-items: left;align-content: left;">
				<h1 class="mb-5" style="text-align: left;font-family: 'Open Sans', sans-serif;font-size: 42px;">{{ property.style }} </h1>
				<h1 class="mb-5" style="text-align: left;font-family: 'Open Sans', sans-serif;font-size: 24px;margin-top: -40px;color: #dddddd;font-weight: normal;">{{property.address}}, {{property.city}}, {{property.state}} {{property.zip}}</h1>
			</div>
		</div>
	</div>
</header>
<section class="features-icons bg-light text-center" style="height: 700px;">
	<div class="container" style="width: 95%;">
		<div class="row" style="width: 100%;margin-top: -70px;">
			<div class="col" style="height: 50px;padding-left: 0px;margin-left: 20px;font-weight: bold;font-style: normal;">
				<h1 class="mb-5" style="text-align: left;font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 24px;color: #0a243e;">Details of {{property.style}}</h1>
			</div>
		</div>
	</div>
	<div class="container" style="width: 100%;">
		<div class="row" style="width: 100%;">
			<div class="col">
				<h6 style="margin-left: 5px; text-align: left;margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: medium; color: #e77221;">List Price: ${{ property.list_price }}</h6>
				</br>
				<p style="text-align: justify; margin-left: 5px;margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-size: 16px;color: #7d8285;"> {{property.remarks}}</p>
			</div>
			</br>
		</div>
		<div class="row" style="width: 100%;">
			<div class="col">
				</br>
				<p style="text-align: left; margin-left: -39px;margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-size: 16px;color: #0a253e; font-weight: medium;"><i class="la la-bed" style="padding: 2%;color: #e77221; font-weight: medium;"></i>&#128719; {{ property.beds }} Bedrooms</p>
				<p style="font-size: 2px;"></p>
				<p style="text-align: left; margin-left: -39px;margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-size: 16px;color: #0a253e; font-weight: medium;"><i class="la la-birthday-cake" style="padding: 2%;color: #e77221;"></i>&#128705; {{ property.baths }} Baths</p>
				<p style="font-size: 2px;"></p>
				<p style="text-align: left; margin-left: -39px;margin-bottom: 0;font-family: 'Open Sans', sans-serif;font-size: 16px;color: #0a253e; font-weight: medium;"><i class="la la-bitbucket" style="padding: 2%;color: #e77221;"></i>&#127969; {{ property.sqft }} Square Feet</p>
			</div>
		</div>
	</div>
	<div class="container" style="width: 95%;margin-top: 40px;">
		<!-- Start: Intro -->
		<div class="intro">
			<p class="text-center"></p>
		</div>
		<!-- End: Intro -->
		<!-- Start: Photos -->
		<h1 class="mb-5" style="text-align: left;font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 24px;color: #0a243e;">Similar Properties</h1>
		<div class="row photos" style="margin-top: -20px; margin-bottom: 20px;">
			<div class="col-sm-6 col-md-4 col-lg-3 item">
				<a data-lightbox="photos" href="#"><img class="img-fluid" src="static/img/charles-loyer-QN6fCROYdWM-unsplash.jpg?h=de70ef132da9df664436cc2fddaba268"></a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 item">
				<a data-lightbox="photos" href="#"><img class="img-fluid" src="static/img/loft.jpg?h=7f7c3d76142833ed92bb12a9053c9cac"></a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 item">
				<a data-lightbox="photos" href="#"><img class="img-fluid" src="static/img/douglas-sheppard-9rYfG8sWRVo-unsplash.jpg?h=462f12d9f3abc23814ebd8d097d89358"></a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 item">
				<a data-lightbox="photos" href="#"><img class="img-fluid" src="static/img/alexander-pemberton-skLqGtLrYKc-unsplash.jpg?h=8bb9fa2825b3f303f162616149784a46"></a>
			</div>
			<!-- End: Photos -->
		</div>
		</br>
</section> {% endblock %}
